@import url('https://fonts.cdnfonts.com/css/roboto-condensed');

*{
  font-family: 'Roboto Condensed', sans-serif;
}

#slider{
  -webkit-appearance: none;
  appearance: none;
  width: 108px;
  height: 8px;
  border-radius: 15px;
  background: rgb(157, 156, 199);
  cursor: pointer;
}

#slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: rgb(251 113 133);
  border-radius: 12px;
  cursor: pointer;
}

button:hover{
  border: 1px solid white;
  animation: color-animation 2s linear infinite;
  --color-1: rgb(251 113 133); 
  --color-2: 	rgb(159 18 57);
  --color-3:  rgb(236 72 153);
}

@keyframes color-animation{
  0% {color: var(--color-1)}
  32%{color: var(--color-1)}
  33%{color: var(--color-2)}
  65%{color: var(--color-3)}
  99%{color: var(--color-3)}
  100%{color: var(--color-1)}
}

h1{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  margin-bottom: 3px;
  border-bottom: 1px solid  rgb(251 113 133);
  background-image: linear-gradient(35deg, rgb(199 210 254) 0%, rgb(225 29 72) 34%, rgb(116, 238, 238));
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

#password-Input{
  transition: 0.3s ease;
}